DATABASE_URL=sqlite:////containers/monitorbot/monitorbot.db
NTFY_URL=https://ntfy.wileyriley.com
NTFY_TOPIC=alerts
NTFY_USER=steve
NTFY_PASS=
WEBHOOK_BASE_URL=https://monitorbot.wileyriley.com
WEBHOOK_TOKEN=
PORT=9013
HOST=0.0.0.0
AGY_PATH=/home/steve/.local/bin/agy
